@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "라이트";
    src: url(OEBPS/Fonts/KoPubWorld_Batang_Light.ttf)
    }
@font-face {
    font-family: "볼드";
    src: url(OEBPS/Fonts/KoPubWorld_Batang_Bold.ttf)
    }
@font-face {
    font-family: "영화자막";
    src: url(OEBPS/Fonts/DXMSubtitles_M.ttf)
    }
@font-face {
    font-family: "수필";
    src: url(OEBPS/Fonts/soopil_T2.ttf)
    }

.calibre {
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    height: 100%;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre2 {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre3 {
    box-sizing: border-box;
    height: auto;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-width: 80%;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100px
    }
.calibre4 {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre5 {
    box-sizing: border-box;
    display: block;
    font-family: "수필";
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre6 {
    box-sizing: border-box;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre7 {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre8 {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre9 {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 0.75em;
    line-height: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    word-break: break-all
    }
.calibre10 {
    box-sizing: border-box;
    font-family: "볼드";
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.img_center {
    box-sizing: border-box;
    display: block;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    width: 80%
    }
.last-line {
    box-sizing: border-box;
    display: inline-block;
    font-family: "라이트";
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.next-line {
    box-sizing: border-box;
    display: block;
    font-family: "영화자막";
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.prologue {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    display: block;
    font-family: "수필";
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5em;
    text-align: left;
    text-indent: 1em
    }
.prologue_sub {
    box-sizing: border-box;
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.4em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 2em
    }
.right {
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 1em
    }
.space {
    border-bottom-color: currentColor;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: currentColor;
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: currentColor;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: currentColor;
    border-top-style: solid;
    border-top-width: 2px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.space_s {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.space_sub {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.title_copyright {
    box-sizing: border-box;
    display: block;
    font-family: "볼드";
    font-size: 0.75em;
    line-height: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0;
    word-break: break-all
    }
.txt_box {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-indent: 0
    }
.txt_box1 {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.txt_center {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.txt_center_u {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    font-weight: light;
    line-height: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.txt_right_u {
    box-sizing: border-box;
    display: block;
    font-family: "라이트";
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0
    }
.pcalibre:after {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1.2px;
    content: "";
    display: block;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 0;
    margin-top: 0
    }

